:root {
    --blanco: #ffffff;
    --negro: #202020;
    --gris-oscuro: #3f3f3f;
    --gris-claro: #707070;
    --amarillo: #ffdf6c;
}

/*Globales*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

* { /* Para que tome todo el ancho de la pantalla y no queden separaciones blancas entre los elementos y el borde.*/
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100%;
    font-size: 16px; /* 1rem = 10px */
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton-izq, .boton-der {
    background-color: var(--amarillo);
    color: var(--gris-oscuro);
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: .5rem;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(117,117,117,0.71);
    -moz-box-shadow: 0px 5px 15px 0px rgba(117,117,117,0.71);
    box-shadow: 0px 5px 15px 0px rgba(117,117,117,0.71);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

footer {
    display: flex;
    justify-content: center;
}

/*Tipografía*/
h1 { 
    font-size: 3.8rem;
    padding: 1rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}

/*Títulos*/
.titulo {
    text-align: center;
}

/*Barra de navegación*/
.navbar-bg {
    background-color: var(--negro);
}

.navbar {
    display: flex;
    flex-direction: column;
}

.navbar a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
}

.navbar a:hover {
    background-color: var(--amarillo);
    color: var(--negro);
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-around;
    }
}

/*Hero*/

.hero {
    height: 40rem;
    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.contenido-hero h2 {
    color: var(--blanco);
    padding-top: 3rem;
}

/*.img-size {
    width: 100%;
    height: 100%;
}*/

.contenedor .imagen-izq {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
}

.contenedor .imagen-der {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
}

.imagen-1, .imagen-3 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.imagen-2 {
    grid-column: 2/3;
    grid-row: 1/3;
}